:root {
    --main: #162E42;
    --second: #50C2C3;
    --light: #EBF1F2;
}

.header-area{
    background-color: var(--second) !important;
}

.header-area .welome-text{
    text-align: left !important;
    justify-content: space-between !important;
    background-color: transparent !important;
}

.header-area .welome-text p {
    margin: 10px 0px !important;
}

.slider-title{
    font-size: 48px !important;
}

.main-logo img{
    max-width: 130px !important;
}

.sticky-logo img{
    max-width: 200px !important;
}

.header-area .header-nav.sticky{
    background-color: var(--light) !important;
}

.header-area .header-nav .navigation .navbar .navbar-nav .nav-item .nav-link{
    color: var(--main) !important;
}

.header-area .header-nav .navigation .navbar .navbar-brand.logo-mt-neg{
    margin-top: 0px !important;
}

.hero-section .single-hero-slide::before{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(235, 241, 242, 0.94902)), color-stop(79%, rgba(235, 241, 242, 0.47)), to(rgba(235, 241, 242, 0))) !important;
    background: linear-gradient(-180deg, rgba(235, 241, 242, 0.949) 0%, rgba(235, 241, 242, 0.47) 79%, rgba(235, 241, 242, 0) 100%) !important;
}